[run]
source=src/
omit =
    */migrations/*
    */test/*
    */tools/*
    */docs/*
    */docker/*
    */.venv/*
    */venv/*
    */test.py
branch=True
[report]
format=total
exclude_also =
    @overload
    @override\n\s*def _get_page
    @override\n\s*def _get_catalog_data
    @override\n\s*def _get_valid_since
    @override\n\s*def _get_valid_until
    @override\n\s*def _get_preview_timedelta
    @override\n\s*def _cleanup
include_namespace_packages=True
precision=2
show_missing=True
sort=Cover
[html]
directory = test/reports/cov
show_contexts=True
skip_empty=True
title=Cata-Log Coverage Report
[xml]
output=test/reports/cov/coverage.xml
