<form id="config-form">
    <label for="name">Configuration Name</label>
    <select name="name">
        {% for default_config in default_configs %}
            <option value="{{ default_config.name }}">{{ default_config.name }}</option>
        {% endfor %}
    </select>
    <label for="value">Configuration Value</label>
    <input name="value" type="text" />
    <div id="form-error"></div>
    <button type="submit">Save</button>
</form>
