<form id="provider-form">
    <label for="class_id">ID of Provider</label>
    <select name="class_id">
        {% for available_provider in available_providers %}
            <option value="{{ available_provider.id }}">{{ available_provider.id }}</option>
        {% endfor %}
    </select>
    <label for="configuration">Configuration</label>
    <input name="configuration" type="text" value="{}" />
    <div id="form-error"></div>
    <button type="submit">Save</button>
</form>
