<article id="provider-{{ provider.id }}">
    <header>
        {{ provider.name }}
    </header>
    <div>{{ provider.note }}</div>
    <nav>
        <ul>
            {{ provider.status | title }}
        </ul>
        <ul>
            <div role="group">
                <button class="outline secondary schedule-provider-update-button"
                        data-id="{{ provider.id }}">Update</button>
                <button class="outline secondary delete-provider-button"
                        data-id="{{ provider.id }}">X</button>
            </div>
        </ul>
    </nav>


    {% if provider.configuration %}
        <div>
            <h6>Configuration</h6>
            <ul>
                {% for config_key, config_value in provider.configuration.items() %}
                    <li>
                        <strong>{{ config_key }}</strong>: {{ config_value }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <footer>
        <a href="{{ url_for('get_provider_catalog_webpage', provider_id=provider.id) }}">Latest Catalog</a>
    </footer>
</article>
