<article>
    <header>
        <a href="{{ provider_info.url }}"><strong>{{ provider_info.name }}</strong></a>
    </header>
    <p>{{ provider_info.description }}, {{ provider_info.region.local_name }}</p>

    {% if provider_info.configuration %}
        <div>
            <strong>Configuration</strong>
            <ul>
                {% for config in provider_info.configuration %}
                    <li>
                        <strong>{{ config.name }}</strong>
                        {% if config.default %}
                            ({{ config.default }})
                        {% else %}
                            *
                        {% endif %}
                        :
                        {{ config.helptext }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</article>
