<article>
    <header>
        <a href="{{ provider_info.url }}">{{ provider_info.id }}</a>
    </header>
    <body>
        <div>{{ provider_info.description }}</div>
        <div>{{ provider_info.region.local_name }}</div>

        {% if provider_info.configuration %}
            <div>
                Configuration
                <ul>
                    {% for config in provider_info.configuration %}
                        <li>
                            <strong>{{ config.name }}</strong>: {{ config.type }}
                            {% if config.default %}({{ config.default }}){% endif %}
                            {{ config.helptext }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </body>
</article>
