<article id="provider-{{ provider.id }}">
    <header>
        Provider {{ provider.id }}
    </header>
    <div>{{ provider.class_id }}</div>

    {% if provider.config %}
        <div>
            Configuration
            <ul>
                {% for config_key, config_value in provider.config.items() %}
                    <li>
                        <strong>{{ config_key }}</strong>: {{ config_value }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</article>
