<form id="provider-form">
    <label for="class_uid">ID of Provider</label>
    <select name="class_uid">
        {% for available_provider in available_providers %}
            <option value="{{ available_provider.uid }}">{{ available_provider.name }}</option>
        {% endfor %}
    </select>
    <label for="configuration">Configuration</label>
    <input name="configuration" type="text" value="{}" />
    <div id="form-error"></div>
    <button type="submit">Save</button>
</form>
