<article id="provider-{{ provider.id }}">
    <header>
        <h4>Provider {{ provider.id }}</h4>
        <small>{{ provider.class_id }}</small>
    </header>
    <div>{{ provider.status | title }}</div>

    {% if provider.config %}
        <div>
            <h6>Configuration</h6>
            <ul>
                {% for config_key, config_value in provider.config.items() %}
                    <li>
                        <strong>{{ config_key }}</strong>: {{ config_value }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <footer>
        <a href="{{ url_for('get_provider_catalog_webpage', provider_id=provider.id) }}">Latest Catalog</a>
    </footer>
</article>
