<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="color-scheme" content="light dark" />
        <meta name="copyright"
              content="© 2025 David Aderbauer & The Cata-Log Contributors." />
        <meta name="license" content="AGPLv3" />
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.green.min.css" />
        <title>Cata-Log

            {% block page_title %}
            {% endblock page_title %}

        </title>
    </head>
    <body class="container" id="top">
        <header>
            <nav>
                <ul>
                    <li>
                        <h1>Cata-Log</h1>
                    </li>
                    <li>
                        <!-- djlint:off J018-->
                        <a class="contrast" href="/docs">API Overview</a>
                        <!-- djlint:on -->
                    </li>
                </ul>
                <ul>
                    <li>
                        <details class="dropdown">
                            <summary role="button" class="outline secondary">Theme</summary>
                            <ul>
                                <li>
                                    <a href="#" data-theme-switcher="auto">Auto</a>
                                </li>
                                <li>
                                    <a href="#" data-theme-switcher="light">Light</a>
                                </li>
                                <li>
                                    <a href="#" data-theme-switcher="dark">Dark</a>
                                </li>
                            </ul>
                        </details>
                    </li>
                </ul>
            </nav>

        </header>
        <main>

            {% block main_content %}
            {% endblock main_content %}

        </main>
        <footer>
            <hr />
            <nav>
                <ul>
                    <li>&copy; 2026 David Aderbauer &amp; The Cata-Log Contributors</li>
                </ul>
                <ul>
                    <li>
                        <a href="#top">Back up</a>
                    </li>
                </ul>
            </nav>

        </footer>

        <script src="/static/js/theme-switcher.js"></script>

        {% block scripts %}
        {% endblock scripts %}

    </body>
</html>
