{% extends "base.html.jinja" %}

{% block page_title %}
    Catalog
{% endblock page_title %}

{% block main_content %}
    <h2>Latest Catalog of Provider {{ provider.id }}</h2>
    <div class="grid">
        <button type="button" id="prev-button">&lt;</button>
        <img id="page-image" src="" alt="" height="80vh" />
        <button type="button" id="next-button">&gt;</button>
    </div>
    <div>
        <small>{{ catalog.valid_since }} - {{ catalog.valid_until }}</small>
    </div>
    <div>
        <small>Created {{ catalog.created_at }}</small>
    </div>
{% endblock main_content %}

{% block scripts %}
    <span id="provider-id" data-id="{{ provider.id }}"></span>
    <script src="/static/js/catalog-viewer.js"></script>
{% endblock scripts %}
