{% extends "base.html.jinja" %}

{% block page_title %}
    Configuration
{% endblock page_title %}

{% block main_content %}
    <div class="grid">
        <div>
            <article>
                <h3>Set A Configuration</h3>

                {% include "partials/_config_form.html.jinja" %}

            </article>
            <article>
                <h3>Your Configuration</h3>
                <div class="overflow-auto">
                    {% for config in configs %}

                        {% include "partials/_config.html.jinja" %}

                    {% endfor %}
                </div>
            </article>
        </div>
        <article>
            <h3>Default Configuration</h3>
            <div class="overflow-auto">
                {% for default_config in default_configs %}

                    {% include "partials/_default_config.html.jinja" %}

                {% endfor %}
            </div>
        </article>
    </div>

{% endblock main_content %}


{% block scripts %}
    <script src="/static/js/config-form.js"></script>
{% endblock scripts %}
