{% extends "base.html.jinja" %}

{% block page_title %}
    Dashboard
{% endblock page_title %}

{% block content_title %}
{% endblock content_title %}

{% block main_content %}
    <div role="group">
        <a href="{{ url_for('get_providers_webpage') }}">
            <h2 role="button" class="primary">Providers</h2>
        </a>
        <a href="{{ url_for('get_config_webpage') }}">
            <h2 role="button" class="secondary">Configuration</h2>
        </a>
    </div>
{% endblock main_content %}
