{% extends "base.html.jinja" %}

{% block page_title %}
    Providers
{% endblock page_title %}

{% block main_content %}
    <div class="grid">
        <div>
            <article>
                <h3>Add A Provider</h3>

                {% include "partials/_provider_form.html.jinja" %}

            </article>
            <article>
                <h3>Your Providers</h3>
                <div class="overflow-auto">
                    {% for provider in providers %}

                        {% include "partials/_provider.html.jinja" %}

                    {% endfor %}
                </div>
            </article>
        </div>
        <article>
            <h3>Available Providers</h3>
            <div class="overflow-auto">
                {% for provider_info in available_providers %}

                    {% include "partials/_provider_info.html.jinja" %}

                {% endfor %}
            </div>
        </article>
    </div>
{% endblock main_content %}


{% block scripts %}
    <script src="/static/js/provider-form.js"></script>
    <script src="/static/js/provider-actions.js"></script>
{% endblock scripts %}
